#wrapper {
    width:890px;
    /*min-width: 450px;
    max-width:780px;*/
    margin: 0 auto;
    text-align:justify;
    }


#header {
    background: orange;
    height: 50px;
    color: #fff;
    margin-top: 30px;

    }
#menu ul { padding: 0 0 0 5px;}

#menu li{
    display: inline-block;
    padding: 13px;
    }

#menu a{
   color: #fff; 
   text-decoration: none;
    font-size: large;
    }

#menu a:hover, #menu a.active{
   color: #fff; 
   text-decoration: underline;
}

th {background: #e9e9e9;}
th, td {border: 1px solid black;padding: 0 50px;text-align:center;}

#right {
    width: 230px;
    float: right;
    padding: 0 20px 0 0;
    list-style-type: none;
    font-size: small;
   
}
#right h2 {font-size: medium;}

#right p, #right li {padding: 5px;}


#right ul {padding: 0;
list-style-type: none;}

#content {
    padding: 20px;
    margin-right: 270px;
    padding: 0 20px;
    
}

#content h1 {
    font-size: 21px;
}
#content h2 {
    font-size: 20px;
}
.clearfix {
    clear: both;
}
#footer {
    height: 50px;
    padding: 29px 0 0 340px;
    font-size: larger;
    color: #FFF;
    background: orange;
    font-size: 12px;
}
}